@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$grey-100: hsl(217, 12%, 63%);
$grey-200: hsl(216, 12%, 54%);
$blue-100: hsl(212, 25%, 14%);
$blue-200: hsl(218, 17%, 9%);

body {
    font-size: 15px;
    color: $grey-100;
}
h1, button{
    color: $white;
}
main{
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue-200;
    .container{
        max-width: 90%;
        .card{
            background-color: $blue-100;
            border-radius: 0.8rem;
            .card-star img{
                background-color:hsl(214, 18%, 23%);
                border-radius: 50%;
                padding: 0.7rem;
                margin: 1.2rem 0 0.6rem 1.2rem;
            }
            .card-header{
                padding: 0 0 0 1.2rem;
            }
            .card-info{
                padding: 1rem 1.2rem 0 1.2rem;
            }
            .card-rating ul{
                display: flex;
                list-style: none;
                justify-content: space-around;
                min-width: 80%;
                padding: 1.5rem 0.5rem 0 0.5rem;
                li:first-child{
                    padding: 0.8rem 1.22rem;
                }
                .rating{
                    border-radius: 50%;
                    padding: 0.8rem 1.1rem;
                    cursor: pointer;
                    user-select: none;
                }
                .rating:hover{
                    background-color: $grey-100;
                    color: $white;
                }
            }
            .card-send-btn{
                display: flex;
                justify-content: center;
                .send-btn{
                    text-transform: uppercase;
                    letter-spacing: 0.2rem;
                    background-color: $orange;
                    border: none;
                    width: 90%;
                    border-radius: 1.5rem;
                    padding: 0.8rem 0;
                    margin: 1.5rem 0;
                    cursor: pointer;
                    user-select: none;
                }
                .send-btn:hover{
                    background-color: $white;
                    color: $orange;
                }
            }
            .card-phone{
                display: flex;
                justify-content: center;
                img{
                    margin: 2rem 0;
                }
            }
            .card-selected{
                display: flex;
                justify-content: center;
                .selected{
                    color: $orange;
                    background-color: hsl(214, 18%, 23%);
                    display: flex;
                    justify-content: center;
                    padding: 0.4rem 0.6rem;
                    border-radius: 1.5rem;
                }
            }
            .card-header-thank{
                display: flex;
                justify-content: center;
                margin-top: 1.5rem;
            }
            .center{
                text-align: center;
                padding-bottom: 2rem;
            }
        }
    }
}

@media (min-width: 1400px) {
    main{
        .container{
            max-width: 28%;
        }
    }
}

.hide{
    display: none;
}

.show{
    display: block;
}

.active{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.passive{
    background-color: hsl(214, 18%, 23%);
}